{% extends 'elements/base.html' %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}
<div class="container">
  <div class="row mt-3">
      <div class="col-md-6 offset-md-3">
        <h1>Change Password</h1>
        <div class="form-group">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p}}
                <button class="btn btn-secondary">Change Password</button>
            </form>
        </div>
    </div>
  </div>
</div>
{% endblock %}