{% extends 'elements/base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
<h1>Login</h1>
<div class="form-group">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_username">Email address</label>
            <input type="text" class="form-control" name="username" id="id_username">
          </div>
          <div class="form-group">
            <label for="id_password">Password</label>
            <input type="password" class="form-control" name="password" id="id_password">
        </div>
        <button class="btn btn-secondary">Login</button>
    </form>
</div>

<br>

<p>No accout? <a href="{% url 'register' %}">Register</a></p>

{% endblock %}