{% extends 'elements/base.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}
<div class="container">
  <div class="row mt-3">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-secondary">Register</h1>
        <div class="form-group">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p}}
                <button class="btn btn-secondary">Register</button>
            </form>
        </div>
      </div>
  </div>
</div>

{% endblock %}