{% extends 'elements/base.html' %}

{% block title %}
    Update new blog post
{% endblock %}

{% block content %}
<div class="container">
  <div class="row mt-3">
      <div class="col-md-6 offset-md-3">
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h1>Delete post: {{post.title}}</h1>
        <div class="form-group">
            <form method="post">
                {% csrf_token %}
                <p class="mt-3">Are you sure?</p>
                <br>
                <button class="btn btn-secondary">Delete</button>
            </form>
        </div>
    {%else%}
        You are not allowed here
    {%endif%}
{%else%}
    You are not allowed here
{%endif%}
      </div>
  </div>
</div>

{% endblock %}